<article class="joinContent">
	<div class="joinForm">
		<div class="header">
			<div class="title">{{join}}</div>
			<div class="cancel" ng-click="cancelJoin($event)"></div>
		</div>
		<div class="joinInputForm">
			<div class="name titleAttr">{{name}}</div>
			<div class="inputNameAttr joinAttr">
				<input type="text" class="" ng-model="joinName" placeholder="{{placeholderName}}"/>
			</div>		
			<div class="account titleAttr">{{account}}</div>
			<div class="inputNameAccount joinAttr">
				<input type="text" class="" ng-model="joinAccount" placeholder="{{placeholderAccount}}"/>
			</div>		
			<div class="password titleAttr">{{password}}</div>
			<div class="inputNamePassword joinAttr" >
				<input type="password" class="" ng-model="joinPassword" placeholder="{{placeholderPassword}}"/>
			</div>
		</div>
		<div class="submitArea">
			<div class="submit" ng-click="submit($event)">{{confirm}}</div>
		</div>
	</div>
</article>